# env files
.env
api/.env
api/.env.development.local
api/.env.production.local
dist/
build/
.vscode/
coverage/
.cache/
.next/
out/
public/build/
.venv
# Testing
.pytest_cache/
__pycache__/
.pytest_cache